body{
 background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./images/stony-wall.jpg")
}
.ProfileImage {
  float:left;
  margin-right:20px;

}
.ProfileImage {
  border:1px solid black;
}

.contentText1{
  font-weight:bold;
  font-size: 2.5em;
}
.contentText2{
  font-weight:bold;
  font-size:1.5em;
}

.big-project-images{
  display:inline-block;
  margin:10px;
  width:45%;
  border:1px solid black;
}
.little-project-images{
  display:inline-block;
  margin:10px;
  width:25%;
  border:1px solid black;
}
.contact-images{
  margin:10px;
}